.btn {
  padding: 10px 15px;
  background: $red;
  color: #fff;
  @include menu-font;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  @include tablets{
    margin-right: rem(40px);
  }
  @include phones{
    margin-right: rem(40px);
  }
  
}