.hero {
  background: url('../img/section-main/img-bg.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

}

.header {
  display: flex;
  align-items: center;
}
.logo__img{
  width: 100%;
}
.logo{
  display: block;
  width: rem(100px);
}
.header__btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  
}

.hero__container {
  flex: 1;
}
.hero__content {
  flex: .8;
  display: flex;
  align-items: center;
  @include tablets{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
  }
  @include phones{
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
  }
}

.hero__text {
  color: #fff;
}
.nav{
  margin-right: rem(15px);
  @include tablets{
    display: none;
  }
  @include phones{
    display: none;
  }
}
.nav__list {
  display: flex;
}

.nav__item {
  &:last-child {
    .nav__link:after {
      display: none;
    }
  }
}

.nav__link {
  color: #fff;
  @include menu-font;
  text-decoration: none;
  display: flex;
  align-items: center;

  &:after {
    content: "";
    display: block;
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: #fff;   
    margin: 0 rem(16px);
  }
}

.hero__pic {
  width: 50%;
  
  @include tablets{
    width: 100%;
  }
  @include phones{
    width: 100%;
  }
}
.hero__pic-img, img{
  width: 100%;
  @include tablets{
    width: 50%;
  }
  @include phones{
    width: 50%;
  }
}
.hero__text {
  width: 50%;
  @include tablets{
    width: 100%;
  }
  @include phones{
    width: 100%;
  }
}
.hero__desc{
  @include lifehack();
  font-size: rem(65px);
  line-height: rem(55px);
  text-transform: lowercase;
}