.menu-acco {
	position: relative;
	display: flex;
	justify-content: flex-end;
	min-height: rem(650px);
	height: 100vh;
}

.menu-acco__item {
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: flex-end;

	&.active {
		.menu-acco__trigger-text {
			color: $yellow;
		}
	}
}



.menu-acco__trigger {
	width: rem(80px);
	display: block;
	height: 100%;
	@include cover;
	text-decoration: none;
  position: relative;
}

.menu-acco__trigger-text {
	font-size: rem(40px);
	color: #fff;
	@include gagalin;
	text-align: center;
	white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: rem(-40px);
}
.menu-acco__trigger-text--active{
	color: $yellow;
}

.menu-acco__content {
	height: 100%;
	background: rgba(#2f3234, .93);
	width: 0;
	overflow: hidden;
}

.menu-acco__content--active{
	width: 550px;	
	//@if 550px <      { width: 550px; }
	//@else {width: 100%;}
}


.menu-acco__text {
	@include ubuntu(light);
	font-size: rem(14px);
	color: #fff;
	padding: rem(60px) rem(30px);
	width: 100%;
  line-height: 1.8;
  display: none;
}
.menu-acco__text--active{
	display: block;
}